@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style:none;
}
.header {
    width: 100vw;
    height: 134px;
    background-color: #edf2ec;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 16px;
}
.header .wrapper {
    width: 1220px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_menu {
    width: 452px;
    height: 50px;
}
.header_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 50px;

}
.header_red {
    font-weight: 700;
    color: #e06733;
}
.header_link{
    transition: .3s;
}
.header_link:hover{
    color: #e06733;
    font-weight: 700;
}
.leafs_h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
}
.green_text {
    font-family: 'Inika', serif;
    color: #499A18;
    font-size: 40px;
}
.green_text_plants {
    font-family: 'Inter', sans-serif;
    color: #499A18;
    font-size: 45px
}
.welcome {
    background-color: #edf2ec;
    width: 100vw;
    height: 532px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome .wrapper {
    width: 1222px;
    height: 407px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
p {
   font-family: 'Inter', sans-serif;
   font-weight: 400; 
   font-size: 20px;
   line-height: 35px;
}
.welcome_text {
    display: flex;
    flex-direction: column;
    width: 549px;
    height: 340px;
    align-items: flex-start;
    justify-content: space-between;
}
.leafs {
    width: 448.8px;
    height: 407.36px;
}
.learn_more {
    text-transform: uppercase;
    width: 156px;
    height: 44px;
    border-radius: 10px;
    border-color: #E06733;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
}
.learn_more:hover{
    background-color: #E06733;
    transition: .3s;
    color: white;
    cursor: pointer;
}
.about_us{
    background-color: white;
    width: 100vw;
    height: 666px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orange_text{
    font-family: 'Inika', serif;
    color: #E06733;
    font-size: 40px;
}
.about_us .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 479px;
    width: 1222px;
}
.prof_exp_text {
    font-family: 'Inika', serif;
    color: #499A18;
    font-size: 40px;
    width: 463px;
    height: 102px;
    line-height: 52px;
}
.prof_exp_wrapper {
    display: flex;
    flex-direction: column;
    width: 605px;
    height: 350px;
    justify-content: space-between;
}
.about_us p{
    width: 605px;
    height: 208px;
    line-height: 30px;
}
.gardens, .lawn, .planting {
    width: 156px;
    height: 44px;
    border-radius: 10px;
    border-color: #E06733;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    color: #E06733;
}
.gardens:hover, .lawn:hover, .planting:hover {
    background-color: #E06733;
    transition: .3s;
    color: white;
    cursor: pointer;
}

.service {
    width: 100vw;
    height: 1300px;
    background-color: #edf2ec;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service_content {
    width: 1007px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service_btns {
    width: 559px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 1222px;
    height: 955px;
}

.service_content h2 {
    width: 306px;
    height: 94px;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52.12px;
    color: #499A18;
}

.service button {
    color: #E06733;
    width: 156px;
    height: 44px;
    border-radius: 10px;
    border-color: #E06733;
    font-family: 'Inika', serif;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
}

.service button:hover{
    background-color: #E06733;
    transition: .3s;
    color: white;
    cursor: pointer;
}

.service_item_text {
    background-color: #edf2ec;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.service_main_text {
    color: #E06733;
    font-weight: 700;
    font-size: 20px;
}

.service_item_text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 330px;
    height: 100px;
}

.service_secondary_text {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    color: #717171;
    font-weight: 400;
}

